#cons {
    padding: 10%;
}
.row h2{
    color: #fff;
    font-weight: 500;
    font-size: 45px;
}
.row h5{
    color: #fff;

}

.form-group input  {
    padding: 10px;
    background-color: #F0B4A4;
    border: none;
    opacity: 70%;
}

.form-group textarea {
    padding: 10px;
    background-color: #F0B4A4;
    border: none;
    opacity: 70%;
    
}

.formcontact{
    border: 000;
}
*/

body {
    background: #fafbfb;
  }
  

  
@media (max-width: 820px) {

    .row h2 {
        font-size: 35px;
        text-align: center;
    }
    .row i {
        font-size: 18px;
      
    }
    .row h5 {
        font-size: 15px;
    }
    .row iframe {
        width: 400px;
        text-align: center;
        margin-top: 20px;
        margin-left: -20px;
    }
    .row h1 {
        font-size: 35px;
        text-align: center;
        color: white;
    }
    .row label {
       color: white;
    }

}
