<div class="container-fluid d-flex justify-content-center align-items-center" id="contact">
    <div class="container ltext">
        <div class="row">
            <!-- Contact Information Section -->
            <div class="col-12 col-md-6 p-4">
                <h2 class="mb-4">Contact Us</h2>
                <h4 class="mb-3">
                    <i class="bi bi-telephone-fill"></i>&nbsp;09688691680 <br>
                    &nbsp;&nbsp;&nbsp;032-3462359
                </h4>
                <h4 class="mb-3">
                    <i class="bi bi-envelope-fill"></i>&nbsp;easygoprint.infogmail.com
                </h4>
                <h4 class="mb-3">
                    <i class="bi bi-geo-alt-fill"></i>&nbsp;Unit #7 - H Greenhills Products Inc. B,<br>
                    &nbsp;&nbsp;&nbsp;Casuntingan, Mandaue City, Cebu, 6014
                </h4>
            </div>

            <!-- Form Section -->
            <div class="col-12 col-md-6 formcontact ">
                <form class="p-4">
                    <div class="form-group col-12 d-flex flex-column flex-md-row mb-4 gap-3">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="*Firstname">
                        <input type="text" class="form-control" placeholder="*Lastname">
                    </div>
                    <div class="form-group col-12 d-flex flex-column flex-md-row mb-4 gap-3">
                        <input type="email" class="form-control" placeholder="*Email">
                        <input type="text" class="form-control" placeholder="*Phone number">
                    </div>
                    <div class="form-group msg mb-4">
                        <textarea type="text" class="form-control" placeholder="*Messages"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
