<section class="d-flex justify-content-center align-items-center" id="cons"  style="background-image: url('../pro.jpg');">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12">
           <!-- Contact Information Section -->
            <h2 class="mb-4">Contact Info</h2>
           <h5 class="mb-3">
             <i class="bi bi-telephone-fill"></i>&nbsp;09688691680 <br>
             &nbsp;&nbsp;&nbsp; 032-3462359
           </h5>
           <h5 class="mb-3">
             <i class="bi bi-envelope-fill"></i>&nbsp;easygoprint.infogmail.com
           </h5>
           <h5 class="mb-3">
            <i class="bi bi-geo-alt-fill"></i>&nbsp;Unit #7 - H Greenhills Products Inc. B,<br>
            &nbsp;&nbsp;&nbsp; Casuntingan, Mandaue City, Cebu, 6014
          </h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5407.075749669166!2d123.93040951182594!3d10.34308068973792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a999005ef7a3ef%3A0xe244fb9855e0e7a!2sEasyGo%20Print!5e1!3m2!1sen!2sph!4v1735873692275!5m2!1sen!2sph" width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
           <!-- Form Section -->
           <div class="container my-5 conpage">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h1 class="mb-3 display-3">Contact Us</h1>
                <form>
                  <div class="row g-3">
                    <div class="col-md-6">
                      <label for="Firstname" class="form-label">Firstname</label>
                      <input type="text" class="form-control" id="Firstname" name="Firstname" required>
                    </div>
                    <div class="col-md-6">
                      <label for="Lastname" class="form-label">Lastname</label>
                      <input type="text" class="form-control" id="Lastname" name="Lastname" required>
                    </div>
                    <div class="col-md-6">
                      <label for="your-email" class="form-label">Your Email</label>
                      <input type="email" class="form-control" id="your-email" name="your-email" required>
                    </div>
                    <div class="col-md-6">
                      <label for="Phone Number" class="form-label">Phone Number</label>
                      <input type="text" class="form-control" id="Phone Number" name="Phone Number">
                    </div>
                    <div class="col-12">
                      <label for="your-message" class="form-label">Your Message</label>
                      <textarea class="form-control" id="your-message" name="your-message" rows="5" required></textarea>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <div class="col-md-12">
                          <button  type="submit" class="btn btn-warning w-100 fw-bold" >Send</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>