<div class="container d-flex justify-content-center align-items-center" id="about">
    <div class="row ">
        <div class="col-12 col-md-6">
            <img src="./assets/imgs/about.jpg" alt="aboutimgs" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <h4>About us</h4>
            <h2>Get Started With EasyGo Print</h2>
            <p>Welcome to EasyGoPrint! We are a Printing and Advertising Agency where creativity meets   efficiency, and your brand's
             success is our top priority. At EasyGoPrint, we're more than just a printing and advertising agency we're your dedicated partners in achieving your business goals.  With a focus on excellence and innovation, we specialize in providing comprehensive solutions that elevate your brand to new heights. From eye-catching print materials to dynamic digital campaigns, our team will help bring your vision to life. We understand that every project is unique, which is why we take the time to listen to your needs and tailor our services to meet your specific objectives. Beyond delivering exceptional products and services, we pride ourselves on building lasting relationships with our clients. Your success is our success, and we're dedicated to providing unparalleled support and service every step of the way. Join us on this journey to success and let EasyGoPrint be your trusted partner in achieving your business goals.</p>
        </div>
    </div>
</div>