<div class="container-fluid d-flex justify-content-center align-items-center mt-md-5 mt-sm-5" id="about">
    <div class="container p-5 ">
     <div class="row">
         <div class="col-12 col-md-6">
             <img src="../about.jpg" alt="aboutimgs" class="img-fluid">
         </div>
         <div class="col-12 col-md-6 align-content-center">
             <h5 class="h4-responsive">About us</h5>
             <h3 class="">Get Started With EasyGo Print</h3>
             <p class="lead display-md-5 mb-sm-5">Welcome to EasyGoPrint, where creativity meets efficiency to drive your brand's success. We are your dedicated partner in achieving business goals, offering tailored printing and advertising solutions. From impactful print materials to dynamic digital campaigns, we bring your vision to life. We prioritize excellence and build lasting relationships with our clients, providing unparalleled support every step of the way. Let EasyGoPrint help elevate your brand to new heights!
             </p>
         </div>
     </div>
    </div>
 </div>
 