<div class="container-fluid" id="footer">
    <div class="row">
        <div class="col-md-4 text-center my-4">
            <img src="./logo.png" style="width: 150px;">
            <h6>Stay in Touch</h6>
            <a href="https://www.facebook.com/profile.php?id=61557104856288"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/easygoprintofficial/"><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-tiktok"></i></a>
        </div>
        <div class="col-md-4 midlink text-center my-4 " id="linkcol">
            <h4>Quick Links</h4>
            <a href="#about"  routerLink="/about">About Us</a><br>
            <a href="#services"  routerLink="/services" routerLinkActive="active">Services</a><br>
            <a href="#contact"  routerLink="/contact" routerLinkActive="active">Contacts</a><br>
        </div>
        <div class="col-md-4 text-center my-4">
            <h4>Working Hours</h4>
            <h6>Monday - Saturday</h6>
            <h6>8:00am - 5pm</h6>
        </div>
    </div>
    <div class="row ftdetails" id="ftdetails">
            <div class="col-12 bg-secondary-subtle text-center p-2">
                <h6 class="artext">All rights Reserved &copy; 2024 - EasyGo Print by <em>Ar-jay Car</em>s</h6>
            </div>
       
    </div>
</div>