<section id="home" class="mb-sm-5 bgimg" style="background-image: url('../hero.jpg') ;">
    <div class="container-fluid" id="home">
        <div class="text-content">
            <h1>THINK CREATE PRINT</h1>
            <p>Your go-to destination for all your advertising needs<br> and we believe in 
                the power of creativity and innovation <br> to make your brand shine.</p>
            <!-- Wrap the button in an anchor tag to handle navigation -->
            <a href="#services" class="btn btn-success">Get Quotation</a>
        </div>
    </div> 
</section>
