<section id="services">
  <div class="container my-4">
    <div class="div">
      <h3 class="text-center">Our Services</h3>
      <h2  class="text-center" >What we can do for you</h2>
    </div>
    <div class="row g-4 p-3 ">
      <!-- Card layout adjusted for responsiveness -->
      <h5 class="text-sm-center text-md-start p-4 ">Explore our product range</h5>
      <div
        class="col-12 col-sm-6 col-md-4 col-lg-3 text-center mb-4 gap-md-3 d-flex justify-content-center align-content-center "
        *ngFor="let service of services()"
      >
        <div class="card shadow-sm">
          <img
            [src]="service.prodimg"
            alt="{{ service.prodname }}"
            class="card-img-top"
          />
          <div class="card-body">
            <h4 class="card-title mb-3">{{ service.prodname }}</h4>
            <a class="btn btn-primary" (click)="openSignalmodal()"
              >Get Quotation</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal" [style]="{ display: isModelOpen() ? 'block' : 'none' } " >
    <div class="modal-dialog modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Our Services</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeSignalmodal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-wrapper">
            <h1 class="title">Get Quotation</h1>
            <p class="subtitle">
              Input what services you want below so we can give you Quotation
            </p>
            <form class="contact-form">
              <div class="form-row">
                <div class="form-column">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    id="name"
                    placeholder="Your name"
                    class="form-input"
                    required
                  />
                </div>
                <div class="form-column">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    id="email"
                    placeholder="Your email"
                    class="form-input"
                    required
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-column">
                  <label for="contact" class="form-label">Contact</label>
                  <input
                    type="tel"
                    id="contact"
                    placeholder="Your phone number"
                    class="form-input"
                    required
                  />
                </div>
                <div class="form-column">
                  <label for="subject" class="form-label">Services</label>
                  <input
                    type="text"
                    id="subject"
                    placeholder="What Services you want to get Quote.."
                    class="form-input"
                    required
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-column">
                  <label for="issue" class="form-label"
                    >Describe your issue</label
                  >
                  <textarea
                    id="issue"
                    placeholder="Input the Size and Quantity and what material we use..."
                    rows="4"
                    class="form-textarea"
                    required
                  ></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeSignalmodal()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</section>
