#services   {
    height: 80vh;
}

.card {
    width: 18rem;
    height: 15rem;
}

.container h4{
    color: orangered;
}
.container h2{
    font-weight: bold;
}
.container h5 {
    font-weight: 500;
}
